* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body {
  background: var(--black);
  font-family: 'Roboto Mono', monospace;
  display: grid;
  place-content: center;
  padding: 32px;
}

section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 500px;
}

time {
  color: var(--yellow);
}

input {
  z-index: -999;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
  margin: 0;
}

p-letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: '|';
    color: var(--yellow);
    font-size: 14px;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.active.is-last::before {
    left: 65%;
  }

  &.valid {
    background: hsla(148, 100%, 36%, 0.4);
    border-radius: 2px;
    border: #006d33 solid 0.5px;
  }

  &.invalid {
    background: hsl(354, 55%, 54%, 0.4);
    border-radius: 2px;
    border: #8b3039 solid 0.4px;
  }
}

p-word {
  padding-bottom: 1px;
  border-bottom: transparent solid 2px;
  transition: border-color 0.3s ease-in-out;
  &.marked {
    border-bottom: #daaf38 solid 2px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.2;
  }
}

.game {
  display: flex;
}

.results {
  display: none;
}

h2 {
  font-weight: 400;
  margin: 0;
  opacity: 0.4;
  font-size: 16px;
}

h3 {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  color: var(--yellow);
}

button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
  background: hsla(0, 0%, 100%, 0.1);
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: hsla(0, 0%, 100%, 0.2);
  }
}
